.wrapper {
  position: relative;
}
.icon {
  position: absolute;
  width: 15px;
  top: 10px;
  left: 14px;
}
.input {
  padding: 10px 10px 10px 35px;
  border: none;
  border-radius: 50px;
  font-size: 12px;
}
